@charset "UTF-8";
body{
    background-color:lightgray;
}
h1{ 
    background-color: lightblue;
    color: blue;
    text-align: center;
}
h2{
    color: red;
    text-align: center;
}
p{
    text-align: center;
}